@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esta é sua agenda de contatos.</p>
    <span>Sistema para controle de contatos.</span>
</div>
